html, body {
  margin: 0;
  padding: 0;
}

svg {
  background-color: lightyellow;
  width: 100%;
  height: 100%;
  position: absolute;
}

.line {
  fill: none;
  stroke: purple;
  stroke-width: 3;
}

.text {
  fill: orange;
  font-size: 2em;
  text-align: center;
  text-anchor: middle;
  pointer-events: none;
  stroke-width: 0;
  user-select: none;
}
