html, body {
  margin: 0;
  padding: 0;
}

svg {
  background-color: lightyellow;
  width: 100%;
  height: 100%;
  position: absolute;
}

.line {
  fill: none;
  stroke: purple;
  stroke-width: 3;
}

.line-guide {
  stroke: orange;
}
