svg {
  border: 1px solid black;
  width: 500px;
  height: 500px;
}

#div1 {
  padding: 10px;
  border: 1px solid #aaaaaa;
  background: lightgray;
}

#drag1 {
  width: 330px;
  height: 70px;
  border: 1px solid #aaaaaa;
  background: blue;
}
