#controller-menu {
  .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

#reset,
#clear-files {
 cursor: pointer;
}

.button {
  cursor: pointer;
  width: 65px;
  text-align: center;
}

.button:hover {
  color: blue;
  background-color: yellow;
}

#filterNode {
  width: 150px;
}
