* {
  transform-origin: 0 0 0;
}

html,
body {
  font-family: $font-family;
  font-size: $font-size;
}

#node-preview {
  text-align: center;
}

.node-preview-item {
  border-radius: 5px;
  margin: 1em;
  border: 2px solid black;
}

#diagram-drawing {
  width: 5000px;
  height: 5000px;
  overflow: scroll;
  overflow-x: scroll;
  overflow-y: scroll;
}

#show-mode {
  background: lightgray;
}
