* {
  transform-origin: 0 0 0;
}

html,
body {
  font-family: $font-family;
  font-size: $font-size;
}

#diagram-drawing {
  border: 1px solid lightgrey;
  width: 5000px;
  height: 5000px;
  position: absolute;
}
