// NOTE: custom jquery ui dialog widget

.no-close .ui-dialog-titlebar-close {
  display: none;
}

.ui-dialog-title {
  text-align: center;
  width: 100% !important;
}

.error-dialog {
  .ui-widget-header {
    background: orange;
  }
}

.information-dialog {
  .ui-widget-header {
    background: lightgreen;
  }
}

.confirm-dialog {
  .ui-widget-header {
    background: lightblue;
  }
}

label.label,
input.text,
input.upload-file {
  display:block;
  width: 100%;
  padding: .4em;
  margin-bottom:12px;
}
