// NOTE: custom jquery ui dialog widget

.no-close .ui-dialog-titlebar-close {
  display: none;
}

.ui-dialog-title {
  text-align: center;
}

label.label,
input.text,
input.upload-file {
  display:block;
  width: 100%;
  padding: .4em;
  margin-bottom:12px;
}
