// custom ul nav

// ul.nav {
//   margin: 10px;
// }

a.nav-link-custom {
  margin: 10px;
  color: #fff;
  background-color: green !important;
}

a.nav-link-custom:hover {
  background-color: orange !important;
}
