.node {
  cursor: move;
  stroke-width: 2;

  .node-label {
    stroke-width: 0;
    pointer-events: none;
    user-select: none;
  }
}

.node-item {
  cursor: pointer;
  border-radius: 5px;
  padding: .7em;
  margin: .5em;
  font-weight: 600;
  border: 1px dashed black;
}
