.node {
  cursor: move;
  stroke-width: 2;

  .node-label {
    stroke-width: 0;
    pointer-events: none;
    user-select: none;
  }
}

.node-preview-item {
  border-radius: 5px;
  margin: 1em;
  border: 2px solid black;
}
