#preview-mode {
  text-align: center;
  margin: 0 auto;
  padding: 5%;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

td.image {
  width: 100;

  img {
    border: 1px solid black;
  }
}

td.desc {
  vertical-align: top;
}
