%node-stroke {
  stroke-width: 1;
  stroke: $node-stroke-color;
}

.node {
  @extend %node-stroke;
  cursor: move;
  fill: $node-fill-color;

  .node-label {
    fill: $node-stroke-color;
    font-weight: bold;
    pointer-events: none;
    stroke-width: 0;
    user-select: none;
  }

  %node-port {
    @extend %node-stroke;
    cursor: pointer;
  }

  .node-port {
    @extend %node-port;
    fill: $node-port-fill-hover-color;
  }

  .node-port-hover {
    @extend %node-port;
    fill: $node-port-fill-color;
  }
}
