%node-stroke-width {
  stroke-width: 3;
}

%node-stroke-color {
  stroke: $node-stroke-color;
}

%node-fill {
  fill: $node-box-fill-color;
}

.node {
  cursor: pointer;
  .node-label {
    fill: $node-label-fill-color;
    font-weight: bold;
    pointer-events: none;
    stroke-width: 0;
    user-select: none;
  }
  .node-box {
    @extend %node-stroke-width;
    @extend %node-fill;
  }
  .node-active {
    @extend %node-stroke-width;
    stroke: black;
    @extend %node-fill;
  }
}
