doctype
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='description', content='Workflow Designer for Basic Image Processing')
    meta(name='keywords', content='Workflow,Design,Processing')
    meta(name='author', content='Nattakit Boonyang')
    meta(name='viewport', content='width=device-width')
  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      span.navbar-brand wdp Logo
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#application-menu', aria-controls='application-menu', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon

      #application-menu.collapse.navbar-collapse
        .navbar-nav.mr-auto
        span.nav-item Mode

    .container
      .row
        .col-2
          .d-flex.flex-column.function-menu
            .p-2.item(draggable='true') LOAD IMAGE
            .p-2.item(draggable='true') ROTATE
        .col
          svg.diagram-drawing
    script(src='/assets/bundle.js')
