html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="description", content=title)
    meta(name="author" content=author)
    title !{name} - !{version} (Development Mode)
  body
    #node-preview
    svg#diagram-drawing
    script(src="/dist/bundle.js")
