doctype
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='description', content='Workflow Designer for Basic Image Processing')
    meta(name='keywords', content='Workflow,Design,Processing')
    meta(name='author', content='Nattakit Boonyang')
    meta(name='viewport', content='width=device-width')
  body
    svg.diagram-drawing

    script(src='/dist/bundle.js')
