html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="description", content=title)
    meta(name="author" content=author)
    title !{name} - !{version} (Development Mode)
  body
    ul.nav.nav-tabs.nav-pills.justify-content-end
      li.nav-item
        a.nav-link(href='#') Start
      li.nav-item
        a.nav-link(href='#') Previews
      li.nav-item
        span.nav-link Mode

    .d-flex
      #node-preview.d-flex.flex-column
      svg#diagram-drawing.d-flex

    script(src="/dist/bundle.js")
