// default style
$font-family: Arial, Helvetica, sans-serif;
$font-size: 1em;

// node
$node-fill-color: rgb(179, 36, 36);
$node-stroke-color: rgb(172, 172, 172);
$node-port-fill-color: rgb(170, 170, 170);
$node-port-fill-hover-color: rgb(255, 166, 0);
